[core]
  editor = vim
[merge]
  tool = vimdiff
[alias]
  a = add
  b = branch
  c = commit -m
  d = diff
  l = log
  pu = pull
  ps = push
  r = rm
  s = status
  sh = show
  co = checkout
  undo = reset --soft HEAD^
  oneline = log --pretty=oneline --abbrev-commit --graph --decorate
  amend = commit --amend
