[core]
  editor = vim
[merge]
  tool = vimdiff
[alias]
  br = branch
  c = commit -m
  d = diff
  sh = show
  st = status
  co = checkout
  undo = reset --soft HEAD^
  oneline = log --pretty=oneline --abbrev-commit --graph --decorate
  amend = commit --amend
[credential]
	helper = cache
[user]
	email = mael@mqli.fr
	name = Mael Regnery
[commit]
	gpgsign = true
